footer.footer
    .footer__cont.cont
        .footer__requisites
            p.requisites__text
             | ООО «Стрессрелиэф»
            p.requisites__text
             | ИНН 7709491344
            p.requisites__text
             | ОГРН 1167746428706
        .footer__policy
            a.policy__link(href='#') Пользовательское соглашение
            a.policy__link(href='#') Политика о конфиденциальности
            a.policy__link(href='#') info@stressrelief.ch